# Compiled class files
*.class
*/*.class
*/*/*.class
out/
output/

# Package Files
*.jar
*.war
*.ear

# Gradle
.gradle/
build/

# IDE files
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db 